<p>
</p>
<p>
</p>
<center>
<h2 style="color:#1565c0"><b>Examen Final Desarrollo Web</b></h2>
<br>
<button class="btn waves-effect waves-light" >
{{#link-to 'crear-factura'}}
Crear Factura
{{/link-to}}
</button>
</center>
{{outlet}}